/* Slash Dropdown Menu Styles */

.tiptap-slash-decoration {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  outline: 5.5px solid rgba(0, 0, 0, 0.05);
}

.dark .tiptap-slash-decoration {
  background: rgba(255, 255, 255, 0.05);
  outline-color: rgba(255, 255, 255, 0.05);
}

.tiptap-slash-decoration::after {
  color: rgba(0, 0, 0, 0.4);
}

.dark .tiptap-slash-decoration::after {
  color: rgba(255, 255, 255, 0.4);
}

.tiptap-slash-decoration.is-empty::after {
  content: attr(data-decoration-content);
}
